<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
    <bean name="productService" class="com.javastudio.tutorial.spring.service.ProductServiceImpl"/>
    <bean id="aspect" class="com.javastudio.tutorial.spring.aspect.ServiceAspect"/>

    <!--<aop:aspectj-autoproxy/>-->
    <aop:config proxy-target-class="true">
        <aop:aspect id="aspects" ref="aspect">
            <aop:pointcut id="serviceCall"
                          expression="execution(* com.javastudio.tutorial.spring.service.ProductServiceImpl+.*(..))"/>
            <aop:before method="logBeforeService" pointcut-ref="serviceCall"></aop:before>
            <aop:after method="logAfterService" pointcut-ref="serviceCall"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>